<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="integration-test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="br.com.devtools" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>